.SCERevision {
	position: absolute;
	left: 473px;
	top: 183px;
	border: 2px solid black;
	-webkit-border-radius: 13px !important;
	-moz-border-radius: 13px !important;
	-ms-border-radius: 13px !important;
	-o-border-radius: 13px !important;
	border-radius: 13px !important;
	height: 30px;
	width: 94px;
	text-align: center;
	line-height: 30px;
	background: rgba(255, 191, 236, 0.7);
	font-size:9px;
}
.loadWSDLDialogInput {
	width:780px;
	font-size: 13px !important;
	line-height:26px;
	height:26px;
}

.selection {
	position: absolute;
	border: 1px solid #89B;
	background: #BCE;
	background-color: #BEC;
	border-color: #8B9;
	display:none;
}

.size2 {
	height: 118px;
	line-height: 118px;
}

.size3 {
	height: 178px;
	line-height: 178px;
}

/*.nmWindow {
	float: left;
	border: 1px dashed #888;
	background: #EEE;
	text-align: center;
	padding: 20px;
	margin: 0 10px 10px 0;
}*/

.dropped {
	background-color: #EBC;
	border-color: #B89;
}	

.active {  
	background-color: #CEB;
	border-color: #9B8;
}

#wsdlLoadDropdown {
	position: relative;
	float: left;
	clear: none;
	width: 211px;
	border: 0px;
	height: 22px;
	background: #CCEEEE;
	color: black;
}

.serviceListLoadWSDL:before {
	display: block;
	content: "Load new WSDL File";
	height: 22px;
	width: 194px;
	position: absolute;
	background: #088;
	z-index: 1;
	line-height: 22px;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	color: white;
}

.dialogBoxWorkFlowRun {
	overflow:visible;
}

.f1_information_logo {
	cursor:pointer;
	position: relative;
	z-index: 1;
}

#linkGroup #workspaceMenu.active:after {
	position:absolute;
	float:right;
	content:"+";
	background:red;
	display:block !important;
	width:20px;
	height:20px;
	left: 411px;
	top: 10px;
	border-radius: 20px !important;
	line-height:17px;
}

#linkGroup #serviceMenu.active:after {
	position:absolute;
	float:right;
	content:"+";
	background:red;
	display:block !important;
	width:20px;
	height:20px;
	left: 262px;
	top: 10px;
	border-radius: 20px !important;
	line-height:17px;
}

#titleGroup .headerhelp {
	float: left;
	clear: none;
	display: block;
	background: transparent;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 27px;
	font-weight: bold;
	text-shadow: 2px 2px 10px white;
	border-radius: 20px 20px 20px 20px !important;
	margin-left: 4px;
	margin-top: 3px;
	border: 1px solid white;
	box-shadow: inset 0 0 24px white;
	cursor:pointer;
}

* {
	font-family:	Helvetica, sans-serif;
}

body.dialog .header .handler, body.dialog #linkGroup .trigger.active, body.dialog .serviceio_title .title, body.dialog .serviceLi-WSDL .title-wsdl, body.dialog .serviceio_puts div{
	/*text-shadow:0 0 5px #FFFFFF !important;*/
}

body.dialog .layer *, body.dialog #panelGroup *, body.dialog #linkGroup * {
	/*color:transparent !important;
	text-shadow:0 0 5px #000000 !important;*/
}

.nmWelcome .body div {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

.workspaceRunData {
	display:none;
	width:280px;
	height:120px;
	cursor:default;
	overflow-y: auto;
	overflow-x: hidden;
}

.workspaceRunData span {
	clear: both;
	display: block;
}

div.jquery-drag-to-select {
	background: #def;

	display: none;

	opacity: .3;
	filter: alpha(opacity=30);
	z-index: 10;

	border: 1px solid #369;
}

div.jquery-drag-to-select.active {
	display: block;
}

/*.title-wsdl:after {
		display:block;
		position:relative;
		content: attr(data-content);
}*/

#workspaceMenu, #serviceMenu, #settingsMenu {
	position:absolute;
}

#workspaceMenu:before, #workspaceMenu:after, #serviceMenu:before, #serviceMenu:after, #settingsMenu:before, #settingsMenu:after {display:none;}

#serviceMenu {
	width: 140px;
	top: 0px;
	border-radius: 20px 0 0 20px;
}

#settingsMenu {
	width: 140px;
	top: 0px;
	height:31px;
	padding:0;
	border-radius: 20px 20px 20px 20px;
	line-height:31px;
	text-align:center;
	display:none;
}

#settingsMenu.active {
	line-height: 23px;
	font-weight: normal;
	font-size: 25px;
	text-shadow: 1px 1px 0 black;
	color: white;
	box-shadow: 0 0 6px white;
	border: 1px solid rgba(255, 145, 0, 0.8);
	background: rgba(255, 145, 0, 0.8);
	border-radius: 20px 20px 20px 20px;
	margin-left: -218px;
	margin-top: -178px;
	padding-left: 0px;
	padding: 0px;
	text-align: left;
	padding-left: 9px;
	height: 33px;
	padding-top: 2px;
	width: 111px;
	top: 202px;
	display:block;
}

#serviceMenu.active {
	padding-left: 74px;
	top: -45px;
	background: rgba(255, 145, 0, 0.8);
	height: 21px;
	line-height: 22px;
	font-weight: normal;
	font-size: 25px;
	text-shadow: 1px 1px 0 black;
	color: white;
	box-shadow: 0 0 6px white;
	border: 1px solid rgba(255, 145, 0, 0.8);
	width: 178px;
	margin-left: -99px;
	margin-top: -1px;
	border-radius: 20px 0 0 20px;
}

#workspaceMenu.active {
	background: rgba(255, 145, 0, 0.8);
	box-shadow: 0 0 6px white;
	border: 1px solid rgba(255, 145, 0, 0.8);
	width: 272px;
	text-align: right;
	color: white;
	text-shadow: 1px 1px 0px black;
	font-size: 25px;
	font-weight: normal;
	line-height: 22px;
	height: 21px;
	padding-left: 27px;
	padding-right:142px;
}

#workspaceMenu {
	top:-45px !important;
}

#titleGroup {
	width: 517px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	height:49px;
	-webkit-border-radius:0 0 20px 20px;
	-moz-border-radius:0 0 20px 20px;
	-ms-border-radius:0 0 20px 20px;
	-o-border-radius:0 0 20px 20px;
	border-radius:0 0 20px 20px;
	border:1px solid rgba(0, 136, 136, 0.9);
	background:rgba(0, 136, 136, 0.75);
	-webkit-box-shadow:0px 0px 23px #066, 0px 0px 4px #066;
	-moz-box-shadow:0px 0px 23px #066, 0px 0px 4px #066;
	-ms-box-shadow:0px 0px 23px #066, 0px 0px 4px #066;
	-o-box-shadow:0px 0px 23px #066, 0px 0px 4px #066;
	box-shadow:0px 0px 23px #066, 0px 0px 4px #066;
	position:relative;
	z-index:6000;
}

#titleGroup .headersettings {
	cursor:pointer;
	display: block;
	float: right;
	height: 40px;
	width: 40px;
	background: transparent;
	clear: none;
	margin-top: 3px;
	margin-right: 4px;
	border: 1px solid white;
	border-radius: 20px 20px 20px 20px !important;
	box-shadow: inset 0 0 24px white;
	overflow:hidden;
}

#titleGroup .headersettings:after {
	left: 23px;
	width: 5px;
	height: 10px;
	margin-top: -50px;
	background: rgba(0, 136, 136, 0.9);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
	content: "";
	position: relative;
	box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.5);
	border-radius: 0 0 5px 5px !important;
}

#titleGroup .headersettings div:before {
	display: block;
	content: "";
	left: 11px;
	width: 7px;
	margin-top: 23px;
	background: black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 21px;
	position: relative;
	top: -8px;
	border-radius: 0 0 4px 4px !important;
}

#titleGroup .headersettings div:after {
	display: block;
	width: 15px;
	height: 15px;
	left: 15px;
	background: black;
	-webkit-border-radius: 8px !important;
	-moz-border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	-o-border-radius: 8px !important;
	border-radius: 8px !important;
	top: -35px;
	content: "";
	position: relative;
}

.workspaceButtons,
.workspaceDataTable .odd,
.workspaceDataTable .even,
.serviceListAccordionHeader,
.serviceio_puts div,
.serviceio_title .title,
#serviceAccordion .title-wsdl,
.serviceListSearchFilterAndIO .button,
.settingsSnapGridBox .snapTo,
.dialogBoxWindow .button,
.settingsInnerBlock .checkbox-ui {
	cursor:pointer;
}

.canSelect { user-select: text; -o-user-select: text; -moz-user-select: text; -khtml-user-select: text; -webkit-user-select: text; }

#serviceScrollArea { width: 520px; clear: both; margin: 8px 0 0 14px; }
#serviceScrollArea .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#serviceScrollArea .overview { list-style: none; position: absolute; left: 0; top: 0; }
#serviceScrollArea .thumb .end,
#serviceScrollArea .thumb { background-color: #003D5D; }
#serviceScrollArea .scrollbar { position: absolute; z-index:20; left:284px;width: 15px; }
#serviceScrollArea .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#serviceScrollArea .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#serviceScrollArea .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#serviceScrollArea .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.dialogBox input { user-select: auto; -o-user-select: auto; -moz-user-select: auto; -khtml-user-select: auto; -webkit-user-select: auto; }

.serviceio_container {
	width:238px;
	margin-left:15px;
}

.serviceio_title {
	font-weight:			bold;
	color:					white;
	margin-bottom:			8px;
	text-shadow:			1px 1px 1px rgb(0, 0, 0);
	background:				rgba(45, 190, 190, 1) !important;
	border:					2px solid rgba(30, 165, 165, 1) !important;
	-webkit-border-radius:	12px 12px 12px 12px;
	-moz-border-radius:		12px 12px 12px 12px;
	-ms-border-radius:		12px 12px 12px 12px;
	-o-border-radius:		12px 12px 12px 12px;
	border-radius:			12px 12px 12px 12px;
}
.serviceio_title .title {	
	display: block;
	height: 28px;
	line-height: 28px;
}
.serviceio_margintop {
	z-index:	-1;
	height:		88px;
	position:	relative;
	width:		270px;
	display:	block;
}

.serviceio_puts {
	margin-bottom: 80px;
	display:none;
}
.serviceio_puts div {
	float: left;
	display: block;
	height: 20px;
	background: rgba(2, 115, 95, 1) !important;
	width: 102px;
	margin-left: 5px;
	height: 34px;
	border-radius: 8px;
	line-height:33px;
	margin-bottom:6px;
}

.serviceio_puts .input {
	text-align:right;
	padding-right:8px
}

.serviceio_puts .output {
	text-align:left;
	padding-left:8px
}

.serviceio_puts .decode64 {
	text-align:center;
	padding-right:8px
}

.serviceio_puts .encode64 {
	text-align:center;
	padding-right:8px
}

.serviceio_puts .input:before {
	display: block;
	height: 0px;
	width: 14px;
	content: "";
	position: absolute;
	left: 43px;
	overflow: hidden;
	margin-top: 5px;
	-webkit-border-radius:	0 12px 12px 0;
	-moz-border-radius:		0 12px 12px 0;
	-ms-border-radius:		0 12px 12px 0;
	-o-border-radius:		0 12px 12px 0;
	border-radius:			0 12px 12px 0;
	border-top:				12px solid rgba(255, 168, 248, 1);
	border-bottom:			12px solid rgba(255, 168, 248, 1);
	border-left:			14px solid transparent;
}
.serviceio_puts .output:before {
	display: block;
	height: 24px;
	width: 14px;
	content: "";
	position: absolute;
	left: 228px;
	overflow: hidden;
	margin-top: 5px;
	-webkit-border-radius: 12px 0 0 12px;
	-moz-border-radius: 12px 0 0 12px;
	-ms-border-radius: 12px 0 0 12px;
	-o-border-radius: 12px 0 0 12px;
	border-radius: 12px 0 0 12px;
	background: rgba(145, 145, 255, 1);
}

.serviceio_puts .encode64:before {
	display: block;
	height: 0px;
	width: 1px;
	content: "";
	position: absolute;
	left: 43px;
	overflow: hidden;
	margin-top: 5px;
	border-top:				12px solid rgba(199, 206, 33, 1);
	border-bottom:			12px solid rgba(199, 206, 33, 1);
	border-left:			14px solid transparent;
}
.serviceio_puts .decode64:before {
	display: block;
	height: 0px;
	width: 1px;
	content: "";
	position: absolute;
	left: 157px;
	overflow: hidden;
	margin-top: 5px;
	border-top:				12px solid rgba(79, 245, 165, 1);
	border-bottom:			12px solid rgba(79, 245, 165, 1);
	border-left:			14px solid transparent;
}

.serviceio_puts .output:after {
	display: block;
	height: 0px;
	width: 0px;
	content: "";
	position: absolute;
	left: 242px;
	overflow: hidden;
	margin-top: -28px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 14px solid rgba(145, 145, 255, 1);
}
.serviceio_puts .encode64:after {
	display: block;
	height: 0px;
	width: 0px;
	content: "";
	position: absolute;
	left: 128px;
	overflow: hidden;
	margin-top: -28px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 14px solid rgba(79, 245, 165, 1);
}
.serviceio_puts .decode64:after {
	display: block;
	height: 0px;
	width: 0px;
	content: "";
	position: absolute;
	left: 242px;
	overflow: hidden;
	margin-top: -28px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 14px solid rgba(199, 206, 33, 1);
}

li, ul {
	list-style-type:	none;
}

.service_draggable {
	display:			none;
	position:			absolute;
	left:				0;
	top:				0;
	height:				24px;
	width:				230px;
	font-size:			18px;
	line-height:		25px;
	margin-left:		-115px;
	margin-top:			-36px;
	background:			#005050;
	border-radius:		15px 15px 0 0;
	text-align:			center;
	color:				#FFFFFF;
	-webkit-box-shadow:	6px 8px 23px rgba(0, 162, 162, 1);
	-moz-box-shadow:	6px 8px 23px rgba(0, 162, 162, 1);
	-ms-box-shadow:		6px 8px 23px rgba(0, 162, 162, 1);
	-o-box-shadow:		6px 8px 23px rgba(0, 162, 162, 1);
	box-shadow:			6px 8px 23px rgba(0, 162, 162, 1);
}

.service_draggable .title {
	text-align:		left;
	padding-left:	28px;
	font-size:		18px;
	height:			24px;
	overflow:		hidden;
}

.service_draggable:before {
	display:		block;
	content:		"";
	background:		transparent;
	border:			0px solid transparent;
	border-top:		10px solid #005050;
	border-left:	15px solid transparent;
	border-right:	15px solid transparent;
	height:			0px;
	width:			0px;
	left:			100px;
	top:			24px;
	position:		absolute;
}

.service_draggable:after {
	display:	none;
	content:	"";
	position:	absolute;
	left:		0;
	width:		230px;
	height:		24px;
	top:		24px;
	box-shadow:	0 5px 5px red;
	z-index:	0;
}

.service_draggable .leftcorner, .service_draggable .rightcorner {
	overflow:	hidden;
	display:	block;
	height:		12px;
	width:		12px;
	position:	absolute;
	top:		24px;
}

.service_draggable .rightcorner {
	left:	218px
}

.service_draggable .leftcorner:after {
	position:		relative;
	display:		block;
	content:		"";
	height:			12px;
	width:			12px;
	top:			-5px;
	box-shadow:		-3px -3px 0 #005050;
	background:		transparent;
	border-radius:	12px 0 0 0;
}

.service_draggable .leftcorner:before {
	position:	relative;
	display:	block;
	content:	"";
	height:		5px;
	width:		1px;
	background:	#005050;
}

.service_draggable .rightcorner:after {
	position:		relative;
	display:		block;
	content:		"";
	height:			12px;
	width:			12px;
	top:			-5px;
	box-shadow:		3px -3px 0 #005050;
	background:		transparent;
	border-radius:	0 12px 0 0;
}

.service_draggable .rightcorner:before {
	position:	relative;
	display:	block;
	content:	"";
	height:		5px;
	width:		1px;
	left:		11px;
	background:	#005050;
}

#snapToGridCanvas {
	position:	absolute;
	left:		-1px;
	display:	none;
}

#wireGridCanvas {
	position:	absolute;
	left:		0px;
	top:		0px;
	display:	block;
}

.layer .layerCanvas {
	position:	relative;
}

.serviceLi:hover span {
	background:	rgba(255, 160, 0, 1);
}

.serviceLi ul {
	background:	#FFFFFF;
}

.serviceLi ul .input, .serviceLi ul .output {
	margin-top:		2px;
	margin-bottom:	2px;
}

.serviceLi-WSDL .ui-icon {
	display:	none;
}

.serviceListAccordionHeader span {
	display:block;
	padding-left:10px;
}

.serviceListAccordionHeader {
	margin:			0;
	padding:		0;
	padding-top:	0px;
	padding-bottom:	0px;
	padding-left:	17px;
	height:			23px;
	margin-left:	27px;
	margin-bottom:	-24px;
	position:		relative;
	width:			202px;
	line-height:	23px;
	border-radius:	9px 9px 9px 9px;
}
.serviceListAccordionHeader .help {
	height: 17px;
	width: 17px;
	position: absolute;
	display: block;
	left: 1px;
	font-weight: bold;
	color: black;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	top:2px;
	border:1px solid black;
	border-radius:20px;
	background:white;
}

#serviceAccordion {
	overflow:		hidden;
	overflow-y:		auto;
	width:			270px;
	margin-left:	auto;
	margin-right:	auto;
}

.accordionList {
	height:			auto !important;
	background:		rgba(30, 175, 175, 1) !important;
	border-radius:	15px 15px 15px 15px !important;
	border:			1px solid rgba(0, 135, 135, 1) !important;
	padding-top:	36px !important;
	padding-bottom:	10px !important;
	width:			268px !important;
	margin-top:		-31px !important;
}

.serviceLi {
	overflow:	hidden;
	padding:	0;
}

.serviceLink {
	height:		30px;
	line-height:30px;
	width:		113px;
}

.serviceLink.left {
	float:			left;
	padding-left:	12px;
	width:			101px;
	overflow:		hidden;
}

.serviceLink.right {
	float:	right;
}

.serviceLink.right canvas {
	position:	absolute;
}

.serviceInputs, .serviceOutputs {
	margin-bottom:	2px;
	margin-top:		0;
}

.serviceLi .title {
	padding-top:	2px;
	padding-bottom:	2px;
}

.WireIt-ddHandle-Help {
	float:					left;
	width:					21px;
	height:					21px;
	font-size:				19px;
	color:					#000000;
	background:				#FFFFFF;
	-webkit-border-radius:	10px;
	-moz-border-radius:		10px;
	-ms-border-radius:		10px;
	-o-border-radius:		10px;
	border-radius:			10px;
	margin-right:			4px;
	top:					2px;
	left:					3px;
	position:				relative;
	cursor:					help;
}

.ui-file-wrapper {
	position:	relative;
}

.ui-file {
	position:	absolute;
	left:		0;
	top:		0;
	opacity:	0;
	width:		300px;
	text-align:	right;
}

.tooltip,
.tooltip .normal_information,
.tooltip .backshadow,
.tooltip .more_information {
	display:	none;
}

.scale_zoom {
	position:				absolute;
	left:					0;
	top:					0;
	width:					200px;
	height:					40px;
	-webkit-border-radius: 	45px 10px 0 4px;
	-moz-border-radius:		45px 10px 0 4px;
	-ms-border-radius:		45px 10px 0 4px;
	-o-border-radius:		45px 10px 0 4px;
	border-radius:			45px 10px 0 4px;
	z-index:				20500;
}

.scale_zoom .background {
	background:				none scroll no-repeat top left #006666;
	width:					200px;
	height:					40px;
	position:				absolute;
	opacity:				0.4;
	-webkit-border-radius:	45px 10px 0 4px;
	-moz-border-radius:		45px 10px 0 4px;
	-ms-border-radius:		45px 10px 0 4px;
	-o-border-radius:		45px 10px 0 4px;
	border-radius:			45px 10px 0 4px;
}

.scale_zoom .slider {
	margin-left:	20px;
	margin-top:		20px;
	margin-right:	20px;
}

.hex:before {
	content:		" ";
	width:			0;
	height:			0;
	border-left:	26px solid transparent;
	border-right:	26px solid transparent;
	position:		absolute;
	top:			-15px;
	border-bottom:	15px solid #006666;
}

.hex {
	margin-top:			30px;
	width:				52px;
	height:				30px;
	position:			relative;
	z-index:			300;
	background-color:	#006666;
	border-top:			1px solid #006666;
	border-bottom:		1px solid #006666;
}

.hex:after {
	content:		"";
	width:			0;
	position:		absolute;
	bottom:			-15px;
	border-left:	26px solid transparent;
	border-right:	26px solid transparent;
	border-top:		15px solid #006666;
}

.emailicon {
	margin-top: 49px;
	margin-left: 9px;
	height: 37px;
	width: 54px;
	position: absolute;
	background: orange;
}

.emailicon:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 6px;
	border-width: 19px 24px;
	border-style: solid;
	border-color: transparent #454 #574;
	background: transparent
}
.emailicon:after {
	content: "";
	position: absolute;
	margin: -8px 0 0;
	left: 0px;
	border-width: 20px 27px 0px;
	border-style: solid;
	border-color: #BDA transparent;
	margin-top: 0px;
	background: transparent;
}