@charset "UTF-8";
.layer {
	position:			absolute;
	background-color:	transparent;/*#FFBBBB; */
	border:				0;
	overflow:			hidden;
	margin:				auto;
	cursor:				default;
}
.layer.move {
	cursor:				move;
}

.floatleft {
	float:	left;
}