.width180 {
	width: 180px !important;
}
.width80 {
	width: 84px !important;
}
.workspaceDataTable th {
	height: 22px !important;
}
.workspaceDataTable tr, .workspaceDataTable td {
	min-height: 30px !important;
}
.workspaceDataContainer {
	height:206px !important;
	/*overflow-y: auto;
	overflow-x: hidden;*/
}

.workspaceButtons {
	height:			24px;
	width:			400px;
	overflow:		hidden;
	border-bottom:	2px solid rgba(0, 135, 135, 0.9);
}

.workspaceSave {
	height:			24px;
	width:			99px;
	float:			left;
	line-height:	24px;
	text-align:		center;
	background:		none scroll no-repeat left top #FFFFFF;
	box-shadow:		inset 0 0 16px #1EAFAF, 0px 0px 8px #FFFFFF;
}

.workspaceLoad {
	height:			24px;
	width:			99px;
	position:		relative;
	float:			left;
	line-height:	24px;
	text-align:		center;
	background:		none scroll no-repeat left top #FFFFFF;
	border-left:	1px solid rgba(0, 135, 135, 0.9);
	border-right:	1px solid rgba(0, 135, 135, 0.9);
	box-shadow:		inset 0 0 16px #1EAFAF, 0px 0px 8px #FFFFFF;
}

.workspaceClear {
	height:			24px;
	width:			99px;
	position:		relative;
	float:			left;
	line-height:	24px;
	text-align:		center;
	background:		none scroll no-repeat left top #FFFFFF;
	border-left:	1px solid rgba(0, 135, 135, 0.9);
	border-right:	1px solid rgba(0, 135, 135, 0.9);
	box-shadow:		inset 0 0 16px #1EAFAF, 0px 0px 8px #FFFFFF;
}

.workspaceTabs {
	width:	118px;
	height:	120px;
	float:left;
	position:relative;
	border-right:		2px solid rgba(0, 135, 135, 0.9);
}
.workspaceTabs div {
	height:			38px;
	width:			118px;
	position:		relative;
	float:			left;
	line-height:	38px;
	text-align:		center;
	background:		none scroll no-repeat left top #FFFFFF;
	border-top:		1px solid rgba(0, 135, 135, 0.9);
	border-bottom:	1px solid rgba(0, 135, 135, 0.9);
	box-shadow:		inset 0 0 16px #1EAFAF, 0px 0px 8px #FFFFFF;
}

.workspaceTabs .active {
	background:darkOrange;
	text-shadow:0 0 5px white;
}

.workspaceTabbeds {
	width:280px;
	height:120px;
	position:relative;
	float:right;
}

.workspaceTabbeds div div {
	display:block;
}

.workspaceTabbeds div {
	display:none;
}

.workspaceTabbeds .active {
	display:block;
}

.dialogBoxWorkFlowRun .button {
	background: darkOrange;
	width: 70px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	box-shadow: 0px 0px 5px black,inset 0 0 1px black;
	margin-left: 30px;
	margin-top: 16px;
	margin-bottom: 16px;
	text-shadow:0 0 5px white;
}


/*.workspaceTabs {

	
}
.workspaceTabs div {
	height:40px;
	width:104px;
	line-height:40px;
	padding-left:40px;
	box-shadow:inset 0 0 16px #FFFFFF;
	font-size:18px;
	font-weight: bold;
	text-shadow: 1px 2px #000000;
	color: #FFFFFF;	
}
.workspaceTabs div.selected {
	background:darkOrange;
	padding-left:40px;
	box-shadow:inset 0 0 16px #1EAFAF;
	text-shadow: 1px 2px #FFFFFF;
	color: #000000;	
}
.workspaceExport, .workspaceImport {
	border-bottom:2px solid rgba(0, 135, 135, 0.9);
}
.workspaceRun {
	border-radius: 0 0 0 15px;
}*/

.workspaceDelete {
	height:			24px;
	width:			99px;
	float:			left;
	line-height:	24px;
	text-align:		center;
	background:		none scroll no-repeat left top #FFFFFF;
	box-shadow:		inset 0 0 16px #1EAFAF, 0px 0px 8px #FFFFFF;
}

.workspaceDataTable {
	display:				block;
	height:					206px;
	width:					400px;
	overflow:				auto;
	border-bottom:			2px solid rgba(0, 135, 135, 0.9);
	background:				none scroll no-repeat left top #FFFFFF;
	-webkit-border-radius:	15px 15px 0 0;
	-moz-border-radius:		15px 15px 0 0;
	-ms-border-radius:		15px 15px 0 0;
	-o-border-radius:		15px 15px 0 0;
	border-radius:			15px 15px 0 0;
}

.workspaceDataTable .odd {
	background:	rgba(0, 135, 135, 0.3);
}

.workspaceDataTable .highlighted {
	background:	darkOrange;
}

.workspaceDataTable td {
	padding-left:	20px;
}

.workspaceDataTable th {
	padding-top:	5px;
}

.dataTables_filter, .dataTables_length, .dataTables_info {
	display:	none;
}